@charset "utf-8";


@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
    font-weight: normal;

}

:root {
    --cor0: #c9d799a4;
    --cor1: #164e43;
    --cor2: #2fa866;
    --cor3: #1a5c38;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-android: 'android';
}

body {
    background-color: #c9d799a4;
    font-family:var(--font-padrao);
    margin: auto;
} 

header {
    background-color: #164e43;
    font-family: var(--font-android);
    color:white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: auto;
}
main {
    max-width: 1000px; /* Limita a largura máxima para não esticar em telas grandes */
    margin: 0 auto;    /* Centraliza o bloco na tela */
    padding: 20px;     /* Garante uma margem interna de segurança */
}

h1 {
    font-family: var(--font-android);
}

h2 {
    font-family: var(--font-android);
}

nav {
    background-color: #164e43; 
    padding: 1px;
    box-sizing: 1px;
    margin: 2px auto;

}
nav > a {
   
   color:white;
   text-decoration:underline;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 5px;
   transition-duration: 0.5s;
}
nav > a:hover {
    background-color: #2fa866;
    color: #1a5c38;
}

main > h1 {
    font-family: var(--font-android);
}

footer {
    background-color: #164e43;
    color:white;
    padding: 2 ;
    text-align: center;
    margin: 2px auto;
}