@charset "utf-8";

@font-face{
font-family: 'fonte-android';
src: url('fontes/idroid.otf') format('opentype');
}

body {
    background-color: #c9d799a4;
    font-family: link;
    margin: auto;
} 

header {
    background-color: #164e43;
    font-family: fonte-android;
    color:white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: auto;
}
main {
    max-width: 1000px; /* Limita a largura máxima para não esticar em telas grandes */
    margin: 0 auto;    /* Centraliza o bloco na tela */
    padding: 20px;     /* Garante uma margem interna de segurança */
}

nav {
    background-color: #164e43; 
    padding: 1px;
    box-sizing: 1px;
    margin: 2px auto;

}
nav > a {
   
   color:white;
   text-decoration:underline;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 5px;
   transition-duration: 0.5s;
}
nav > a:hover {
    background-color: #2fa866;
    color: #1a5c38;
}

   footer {
    background-color: #164e43;
    color:white;
    padding: 2 ;
    text-align: center;
    margin: 2px auto;
}